/db_son.sqlite3
/.env
.venv/
/venv/
/media/
/.idea/
__pycache__/
/static/images/my_page.png
/static/images/devsearch.png
/static/images/burcu_site.png
*.sqlite3
.env
.env~
/secrets/
environment.txt
swarm/
spam_filter.txt