Django~=5.2.8
django-cleanup~=9.0.0
Pillow~=12.1.0
python-dotenv~=1.2.1
django-extensions~=4.1
django-ratelimit~=4.1.0

psycopg[binary]~=3.3.2

# WSGI server
gunicorn~=23.0.0

# S3 / object storage
django-storages[s3]~=1.14.6
boto3~=1.42.25